.button {

	&__primary {
		background: $color-accent;
		
		color: $color-white;
		border: 1px solid $color-accent;
	}

	&--1 {
		width: 100px;
	}

	&--1:hover {

		background: $color-grey; 
		color: $color-white;
		background: $color-pelorous;

	}

}