.modal {

	color: $color-white;

	&__default {

		background-color: $color-white;
		min-height: 200px;
		width: 400px;
	    left: 0;
	    margin: 0 auto;
	    position: absolute;
	    right: 0;
	    top: 30%;

	}

	&__header {

		background: $color-accent;
		
		color: $color-white;
		display: block;
		font-size: 16px;
		height: 50px;
		line-height: 50px;
	    padding: 0 20px;
	}

	&__content {

		padding: 20px;
	}

	&__close {
		padding-right: 20px;
		position: absolute;
		right: 0;
	}
}