/* Colors (http://chir.ag/projects/name-that-color) --------------------------*/

$color-black: #000000;
$color-white: #FFFFFF;
$color-primary: rgba(203,96,179,1);
$color-accent: rgba(140,56,122,1);
$color-grey: #808080;
$color-pelorous: #269abc;


/* Fonts ---------------------------------------------------------------------*/

$font-trebuchet: 'Trebuchet MS';
$font-gotham: 'Gotham';


/* Config --------------------------------------------------------------------*/

$box-model: 'border-box';


/* Gutters -------------------------------------------------------------------*/

$gutter-5: 5px;
$gutter-10: 10px;
$gutter-20: 20px;
$gutter-40: 40px;
$gutter-80: 80px;
$gutter-100: 100px;

$spacer-20: 20px;
$spacer-40: 40px;
