@import 'common';


/* Component -----------------------------------------------------------------*/

@import 'components/form',
		'components/button',
		'components/inner-addon', 
		'components/modal', 
		'components/page', 
		'components/bar', 
		'components/table', 
		'components/logo';

/* Page ----------------------------------------------------------------------*/


/* Helpers -------------------------------------------------------------------*/
 
@import 'helper/shadow',
		'helper/gutter',
		'helper/spacer',
		'helper/skin',
		'helper/no-padding',
		'helper/display',
		'helper/align'; 

/* Custom ----------------------------------------------------------------------*/

@import 'bootstrap-custom';
  
html  {
	box-sizing: $box-model;
}

html, body {
	margin:0;padding:0;height:100%;
}

body {
	font-family: sans-serif;

	background: rgba(140,56,122,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(140,56,122,1) 0%, rgba(135,44,114,1) 40%, rgba(128,27,103,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(140,56,122,1)), color-stop(40%, rgba(135,44,114,1)), color-stop(100%, rgba(128,27,103,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(140,56,122,1) 0%, rgba(135,44,114,1) 40%, rgba(128,27,103,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(140,56,122,1) 0%, rgba(135,44,114,1) 40%, rgba(128,27,103,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(140,56,122,1) 0%, rgba(135,44,114,1) 40%, rgba(128,27,103,1) 100%);
	background: radial-gradient(ellipse at center, rgba(140,56,122,1) 0%, rgba(135,44,114,1) 40%, rgba(128,27,103,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c387a', endColorstr='#801b67', GradientType=1 );

}